<ion-view title="Journal">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-clear button-light icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <h1 class="text-center">Journal</h1>
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button button-clear button-light icon ion-more" ng-click="toggleOptionsPopover($event, 'ON')"></button>
    </div>
  </ion-footer-bar>
</ion-view>
