<ion-view title="Today">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-clear button-light icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-divider text-center">Home</ion-item>
      <ion-item ng-repeat="listItem in goalListItems"
        ng-class="itemClasses(listItem)"
        class="goal">

        <div class="row">
          <div class="col-25">{{listItem.label}}</div>

          <div class="col-75">
            <span ng-if="!listItem.isDivider">
              <weekly-breakdown breakdown="listItem.breakdown" breakdown-select="handleBreakdown(breakdown)" />
            </span>
          </div>
        </div>

        <ion-option-button ng-if="!listItem.isDivider" class="button-balanced icon ion-checkmark" ng-click="track(listItem, true)"></ion-option-button>
        <ion-option-button ng-if="!listItem.isDivider" class="button-info icon ion-minus" ng-click="track(listItem, null)"></ion-option-button>
        <ion-option-button ng-if="!listItem.isDivider" class="button-assertive icon ion-close" ng-click="track(listItem, false)"></ion-option-button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider text-center">Work</ion-item>
      <ion-item ng-repeat="listItem in goalListItems"
        ng-class="itemClasses(listItem)"
        class="goal">

        <ion-option-button ng-if="!listItem.isDivider" class="button-balanced icon ion-checkmark" ng-click="track(listItem, true)"></ion-option-button>
        <ion-option-button ng-if="!listItem.isDivider" class="button-info icon ion-minus" ng-click="track(listItem, null)"></ion-option-button>
        <ion-option-button ng-if="!listItem.isDivider" class="button-assertive icon ion-close" ng-click="track(listItem, false)"></ion-option-button>

        <div class="row">
          <div class="col-25">{{listItem.label}}</div>
          <div class="col-75">
            <span ng-if="!listItem.isDivider">
              <weekly-breakdown breakdown="listItem.breakdown" breakdown-select="handleBreakdown(breakdown)" />
            </span>
          </div>
        </div>
        
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button button-clear button-light icon ion-more" ng-click="toggleOptionsPopover($event, 'ON')"></button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ng-click="addGoal()">
      <!--<button class="button button-clear button-light">Add Goal</button>-->
    </div>
  </ion-footer-bar>
</ion-view>

<style>


</style>
