<ion-popover-view>
  <ion-content scroll="false">
    <!--<div class="list">-->
      <!--<a class="item item-light item-icon-right">-->
        <!--<i class="icon fill-icon ion-filing"></i>-->
        <!--Archive-->
      <!--</a>-->
      <!--<a class="item item-light item-icon-right">-->
        <!--<i class="icon fill-icon icon-light ion-edit"></i>-->
        <!--Edit-->
      <!--</a>-->
      <!--&lt;!&ndash;<a class="item item-icon-left">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="icon ion-filing"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;Archive&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--</div>-->

  </ion-content>

  <!--<ion-content>-->
    <div class="list" ng-click="toggleOptionsPopover($event, 'OFF')">
      <button class="item button button-block button-clear button-positive"
        ng-click="">Journal</button>

      <button class="item button button-block button-clear button-positive"
        ng-click="showNewCategoryForm()">Add List</button>

      <!--<a class="item" href>Edit</a>

      <!--<a class="item" href>Another Option</a>-->
      <!--<a class="item" href>So Many Options!</a>-->
      <!--&lt;!&ndash;<a class="item" href="http://ionicframework.com/docs/" target="_blank">&ndash;&gt;-->
        <!--&lt;!&ndash;Documentation&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="item" href="http://showcase.ionicframework.com/" target="_blank">&ndash;&gt;-->
        <!--&lt;!&ndash;Showcase&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">&ndash;&gt;-->
        <!--&lt;!&ndash;Submit an Issue&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="item" href="https://github.com/driftyco/ionic" target="_blank">&ndash;&gt;-->
        <!--&lt;!&ndash;Github Repo&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
    </div>



  <!--</ion-content>-->
</ion-popover-view>
