<ion-view title="{{category.name}}">
  <ion-nav-buttons side="right">

  </ion-nav-buttons>

  <ion-content class="has-header">
    <ion-list type="list-inset" class="list-inset" ng-if="listEmpty" class="padding">
      <ion-item class="text-center"><a href class="button-link" ng-click="addGoal()">Add</a> some goals to this category.</ion-item>
    </ion-list>

    <!-- <ion-list type="list" ng-hide="listEmpty">
      <ion-item ng-repeat="goal in goals">{{goal.name}}</ion-item>
    </ion-list> -->

    <ion-list type="list">
      <ion-item class="item"
        ng-repeat="goal in goals track by goal.id"
        ui-sref="main.goals.items({ goalId: goal.id })">
        {{goal.name}}
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-positive">
    <div class="buttons"></div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-clear button-light icon ion-more" ng-click="toggleOptionsPopover($event, 'ON')"></button>
    </div>
  </ion-footer-bar>
</ion-view>
