<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-positive">
      <h1 class="title">Stick.2.It</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>

        <ion-item nav-clear menu-close ui-sref="main.profile">
          Profile
        </ion-item>

        <ion-item nav-clear menu-close ui-sref="main.goals.categories">
          Goals
        </ion-item>

        <ion-item nav-clear menu-close ui-sref="main.tracking.today">
          Tracking
        </ion-item>

        <ion-item nav-clear menu-close ui-sref="main.tracking.journal">
          Journal
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
